<div class="o_action_manager">
    <div class="o_graph_view o_view_controller o_action">
        <div class="o_control_panel d-flex flex-column gap-3 px-3 pt-2 pb-3" data-command-category="actions">
            <div
                class="o_control_panel_main d-flex flex-wrap flex-lg-nowrap justify-content-between align-items-lg-start gap-2 gap-lg-3 flex-grow-1">
                <div class="o_control_panel_breadcrumbs d-flex align-items-center gap-1 order-0 h-lg-100">
                    <div class="o_control_panel_main_buttons d-flex gap-1 d-empty-none d-print-none">
                        <div class="d-inline-flex gap-1"></div>
                    </div>
                    <div class="o_breadcrumb d-flex gap-1 text-truncate">
                        <div class="o_last_breadcrumb_item active d-flex fs-4 min-w-0 align-items-center"><span
                                class="min-w-0 text-truncate">Cotizaciones</span></div>
                        <div class="o_control_panel_breadcrumbs_actions d-inline-flex d-print-none"></div>
                    </div>
                    <div class="me-auto"></div>
                </div>
                <div
                    class="o_control_panel_actions d-empty-none d-flex align-items-center justify-content-start justify-content-lg-around order-2 order-lg-1 w-100 mw-100 w-lg-auto">
                    <div class="o_cp_searchview d-flex input-group" role="search">
                        <div class="o_searchview form-control d-print-contents d-flex align-items-center py-1 border-end-0"
                            role="search" aria-autocomplete="list"><button class="d-print-none btn border-0 p-0"
                                role="button" aria-label="Buscar…" title="Buscar…"><i
                                    class="o_searchview_icon oi oi-search me-2" role="img"></i></button>
                            <div class="o_searchview_input_container d-flex flex-grow-1 flex-wrap gap-1 mw-100">
                                <div class="o_searchview_facet position-relative d-inline-flex align-items-stretch rounded-2 bg-200 text-nowrap opacity-trigger-hover mw-100 o_facet_with_domain"
                                    role="listitem" aria-label="buscar" tabindex="0">
                                    <div
                                        class="position-absolute start-0 top-0 bottom-0 end-0 bg-view border rounded-2 shadow opacity-0 opacity-100-hover">
                                    </div>
                                    <div class="o_searchview_facet_label position-relative rounded-start-2 px-1 rounded-end-0 p-0 btn btn-primary"
                                        role="button"><i class="small fa-fw fa fa-filter" role="image"></i><span
                                            class="position-absolute start-0 top-0 bottom-0 end-0 bg-inherit opacity-0 opacity-100-hover"><i
                                                class="fa fa-fw fa-cog"></i></span></div>
                                    <div
                                        class="o_facet_values position-relative d-flex flex-wrap align-items-center ps-2 rounded-end-2 text-wrap overflow-hidden">
                                        <small class="o_facet_value text-truncate" title="Mis cotizaciones">Mis
                                            cotizaciones</small><button
                                            class="o_facet_remove oi oi-close btn btn-link py-0 px-2 text-danger d-print-none"
                                            role="button" aria-label="Eliminar" title="Eliminar"></button></div>
                                </div>
                                <div class="o_searchview_facet position-relative d-inline-flex align-items-stretch rounded-2 bg-200 text-nowrap opacity-trigger-hover mw-100"
                                    role="listitem" aria-label="buscar" tabindex="0">
                                    <div
                                        class="position-absolute start-0 top-0 bottom-0 end-0 bg-view border rounded-2 shadow opacity-0 opacity-100-hover">
                                    </div>
                                    <div class="o_searchview_facet_label position-relative rounded-start-2 px-1 rounded-end-0 p-0 text-bg-action"
                                        role="img"><i class="small fa-fw oi oi-group" role="image"></i></div>
                                    <div
                                        class="o_facet_values position-relative d-flex flex-wrap align-items-center ps-2 rounded-end-2 text-wrap overflow-hidden">
                                        <small class="o_facet_value text-truncate"
                                            title="Cliente">Cliente</small><button
                                            class="o_facet_remove oi oi-close btn btn-link py-0 px-2 text-danger d-print-none"
                                            role="button" aria-label="Eliminar" title="Eliminar"></button></div>
                                </div><input type="text"
                                    class="o_searchview_input o_input d-print-none flex-grow-1 w-auto border-0"
                                    accesskey="Q" placeholder="Buscar…" role="searchbox">
                            </div>
                        </div><button
                            class="o_searchview_dropdown_toggler d-print-none btn btn-outline-secondary o-dropdown-caret rounded-start-0 o-dropdown dropdown-toggle dropdown"
                            data-hotkey="shift+q" title="Mostrar u ocultar panel de búsqueda"
                            aria-expanded="false"></button>
                    </div>
                </div>
                <div
                    class="o_control_panel_navigation d-flex flex-wrap flex-md-nowrap justify-content-end gap-1 gap-xl-3 order-1 order-lg-2 flex-grow-1">
                    <nav class="o_cp_switch_buttons d-print-none d-inline-flex btn-group"><button
                            class="btn btn-secondary o_switch_view o_list" data-tooltip="Lista"><i
                                class="oi oi-view-list"></i></button><button
                            class="btn btn-secondary o_switch_view o_kanban" data-tooltip="Kanban"><i
                                class="oi oi-view-kanban"></i></button><button
                            class="btn btn-secondary o_switch_view o_calendar" data-tooltip="Calendario"><i
                                class="fa fa-calendar"></i></button><button
                            class="btn btn-secondary o_switch_view o_pivot" data-tooltip="Tabla dinámica"><i
                                class="oi oi-view-pivot"></i></button><button
                            class="btn btn-secondary o_switch_view o_graph active" data-tooltip="Gráfico"><i
                                class="fa fa-area-chart"></i></button><button
                            class="btn btn-secondary o_switch_view o_activity" data-tooltip="Actividad"><i
                                class="fa fa-clock-o"></i></button></nav>
                </div>
            </div>
        </div>
        <div class="o_content">
            <div class="o_graph_renderer o_renderer h-100 d-flex flex-column border-top undefined">
                <div class="d-flex d-print-none gap-1 flex-shrink-0 mt-2 mx-3 mb-3 overflow-x-auto">
                    <div class="btn-group" role="toolbar" aria-label="Acciones principales"><button
                            class="btn btn-primary o-dropdown dropdown-toggle dropdown" aria-expanded="false"> Medidas
                            <i class="fa fa-caret-down ms-1"></i></button></div>
                    <div class="btn-group" role="toolbar" aria-label="Cambiar gráfico"><button
                            class="btn btn-secondary fa fa-bar-chart o_graph_button active"
                            data-tooltip="Gráfico de barras" aria-label="Gráfico de barras"
                            data-mode="bar"></button><button class="btn btn-secondary fa fa-line-chart o_graph_button"
                            data-tooltip="Gráfico de línea" aria-label="Gráfico de línea"
                            data-mode="line"></button><button class="btn btn-secondary fa fa-pie-chart o_graph_button"
                            data-tooltip="Gráfico circular" aria-label="Gráfico circular" data-mode="pie"></button>
                    </div>
                    <div class="btn-group" role="toolbar" aria-label="Cambiar gráfico"><button
                            class="btn btn-secondary fa fa-database o_graph_button active" data-tooltip="Apilado"
                            aria-label="Apilado"></button></div>
                    <div class="btn-group" role="toolbar" aria-label="Ordenar gráfico" name="toggleOrderToolbar"><button
                            class="btn btn-secondary fa fa-sort-amount-desc o_graph_button" data-tooltip="Descendente"
                            aria-label="Descendente"></button><button
                            class="btn btn-secondary fa fa-sort-amount-asc o_graph_button" data-tooltip="Ascendente"
                            aria-label="Ascendente"></button></div>
                </div>
                <div class="o_graph_canvas_container flex-grow-1 position-relative px-3 pb-3"><canvas
                        style="display: block; box-sizing: border-box; height: 527px; width: 1118px;" width="1230"
                        height="579"></canvas></div>
            </div>
        </div>
    </div>
</div>