<div class="o_action_manager">
    <div class="o_list_view o_sale_onboarding_list_view o_sale_order o_view_controller o_action">
        <div class="o_control_panel d-flex flex-column gap-3 px-3 pt-2 pb-3" data-command-category="actions">
            <div
                class="o_control_panel_main d-flex flex-wrap flex-lg-nowrap justify-content-between align-items-lg-start gap-2 gap-lg-3 flex-grow-1">
                <div class="o_control_panel_breadcrumbs d-flex align-items-center gap-1 order-0 h-lg-100">
                    <div class="o_control_panel_main_buttons d-flex gap-1 d-empty-none d-print-none">
                        <div class="d-inline-flex gap-1"><button type="button" class="btn btn-primary o_list_button_add"
                                data-hotkey="c" data-bounce-button=""> Nuevo </button>
                            <div class="o_list_buttons d-flex gap-1 d-empty-none align-items-baseline" role="toolbar"
                                aria-label="Acciones principales"><span style="display:contents"><button type="button"
                                        class="btn btn-secondary" data-hotkey="shift+i"> Subir </button></span><input
                                    type="file" class="o_input_file d-none document_file_uploader" multiple="multiple"
                                    accept="*"></div>
                        </div>
                    </div>
                    <div class="o_breadcrumb d-flex gap-1 text-truncate">
                        <div class="o_last_breadcrumb_item active d-flex fs-4 min-w-0 align-items-center"><span
                                class="min-w-0 text-truncate">Cotizaciones</span></div>
                        <div class="o_control_panel_breadcrumbs_actions d-inline-flex d-print-none">
                            <div class="o_cp_action_menus d-flex align-items-center gap-1 pe-2">
                                <div class="lh-1"><button
                                        class="d-print-none btn lh-sm p-0 border-0 o-dropdown dropdown-toggle dropdown"
                                        data-hotkey="u" data-tooltip="Acciones" aria-expanded="false"><i
                                            class="fa fa-fw fa-cog"></i></button></div>
                            </div>
                        </div>
                    </div>
                    <div class="me-auto"></div>
                </div>
                <div
                    class="o_control_panel_actions d-empty-none d-flex align-items-center justify-content-start justify-content-lg-around order-2 order-lg-1 w-100 mw-100 w-lg-auto">
                    <div class="o_cp_searchview d-flex input-group" role="search">
                        <div class="o_searchview form-control d-print-contents d-flex align-items-center py-1 border-end-0"
                            role="search" aria-autocomplete="list"><button class="d-print-none btn border-0 p-0"
                                role="button" aria-label="Buscar…" title="Buscar…"><i
                                    class="o_searchview_icon oi oi-search me-2" role="img"></i></button>
                            <div class="o_searchview_input_container d-flex flex-grow-1 flex-wrap gap-1 mw-100">
                                <div class="o_searchview_facet position-relative d-inline-flex align-items-stretch rounded-2 bg-200 text-nowrap opacity-trigger-hover mw-100 o_facet_with_domain"
                                    role="listitem" aria-label="buscar" tabindex="0">
                                    <div
                                        class="position-absolute start-0 top-0 bottom-0 end-0 bg-view border rounded-2 shadow opacity-0 opacity-100-hover">
                                    </div>
                                    <div class="o_searchview_facet_label position-relative rounded-start-2 px-1 rounded-end-0 p-0 btn btn-primary"
                                        role="button"><i class="small fa-fw fa fa-filter" role="image"></i><span
                                            class="position-absolute start-0 top-0 bottom-0 end-0 bg-inherit opacity-0 opacity-100-hover"><i
                                                class="fa fa-fw fa-cog"></i></span></div>
                                    <div
                                        class="o_facet_values position-relative d-flex flex-wrap align-items-center ps-2 rounded-end-2 text-wrap overflow-hidden">
                                        <small class="o_facet_value text-truncate" title="Mis cotizaciones">Mis
                                            cotizaciones</small><button
                                            class="o_facet_remove oi oi-close btn btn-link py-0 px-2 text-danger d-print-none"
                                            role="button" aria-label="Eliminar" title="Eliminar"></button>
                                    </div>
                                </div><input type="text"
                                    class="o_searchview_input o_input d-print-none flex-grow-1 w-auto border-0"
                                    accesskey="Q" placeholder="Buscar…" role="searchbox">
                            </div>
                        </div><button
                            class="o_searchview_dropdown_toggler d-print-none btn btn-outline-secondary o-dropdown-caret rounded-start-0 o-dropdown dropdown-toggle dropdown"
                            data-hotkey="shift+q" title="Mostrar u ocultar panel de búsqueda"
                            aria-expanded="false"></button>
                    </div>
                </div>
                <div
                    class="o_control_panel_navigation d-flex flex-wrap flex-md-nowrap justify-content-end gap-1 gap-xl-3 order-1 order-lg-2 flex-grow-1">
                    <div class="o_cp_pager text-nowrap " role="search">
                        <nav class="o_pager d-flex gap-2 h-100" aria-label="Paginador"><span
                                class="o_pager_counter align-self-center"><span
                                    class="o_pager_value d-inline-block border-bottom border-transparent mb-n1">1-80</span><span>
                                    / </span><span class="o_pager_limit">87</span></span><span
                                class="btn-group d-print-none" aria-atomic="true"><button type="button"
                                    class="btn btn-secondary o_pager_previous px-2 rounded-start" aria-label="Anterior"
                                    data-tooltip="Anterior" tabindex="-1" data-hotkey="p"><i
                                        class="oi oi-chevron-left"></i></button><button type="button"
                                    class="btn btn-secondary o_pager_next px-2 rounded-end" aria-label="Siguiente"
                                    data-tooltip="Siguiente" tabindex="-1" data-hotkey="n"><i
                                        class="oi oi-chevron-right"></i></button></span></nav>
                    </div>
                    <nav class="o_cp_switch_buttons d-print-none d-inline-flex btn-group"><button
                            class="btn btn-secondary o_switch_view o_list active" data-tooltip="Lista"><i
                                class="oi oi-view-list"></i></button><button
                            class="btn btn-secondary o_switch_view o_kanban" data-tooltip="Kanban"><i
                                class="oi oi-view-kanban"></i></button><button
                            class="btn btn-secondary o_switch_view o_calendar" data-tooltip="Calendario"><i
                                class="fa fa-calendar"></i></button><button
                            class="btn btn-secondary o_switch_view o_pivot" data-tooltip="Tabla dinámica"><i
                                class="oi oi-view-pivot"></i></button><button
                            class="btn btn-secondary o_switch_view o_graph" data-tooltip="Gráfico"><i
                                class="fa fa-area-chart"></i></button><button
                            class="btn btn-secondary o_switch_view o_activity" data-tooltip="Actividad"><i
                                class="fa fa-clock-o"></i></button></nav>
                </div>
            </div>
        </div>
        <div class="o_content">
            <div class="o_list_renderer o_renderer table-responsive" tabindex="-1">
                <table
                    class="o_list_table table table-sm table-hover position-relative mb-0 o_list_table_ungrouped table-striped"
                    style="table-layout: fixed;">
                    <thead>
                        <tr>
                            <th class="o_list_record_selector o_list_controller align-middle pe-1 cursor-pointer"
                                tabindex="-1" style="width: 40px;">
                                <div class="o-checkbox form-check d-flex m-0"><input type="checkbox"
                                        class="form-check-input" id="checkbox-comp-167"><label class="form-check-label"
                                        for="checkbox-comp-167"></label></div>
                            </th>
                            <th data-tooltip-delay="1000" tabindex="-1" data-name="name"
                                class="align-middle o_column_sortable position-relative cursor-pointer opacity-trigger-hover w-print-auto"
                                style="width: 89px;">
                                <div class="d-flex" data-tooltip-template="web.ListHeaderTooltip"
                                    data-tooltip-info="{&quot;viewMode&quot;:&quot;list&quot;,&quot;resModel&quot;:&quot;sale.order&quot;,&quot;debug&quot;:false,&quot;field&quot;:{&quot;name&quot;:&quot;name&quot;,&quot;label&quot;:&quot;Referencia de la orden&quot;,&quot;type&quot;:&quot;char&quot;,&quot;widget&quot;:null,&quot;context&quot;:&quot;{}&quot;,&quot;invisible&quot;:null,&quot;column_invisible&quot;:null,&quot;readonly&quot;:&quot;1&quot;,&quot;required&quot;:&quot;True&quot;,&quot;changeDefault&quot;:false}}"
                                    title=""><span
                                        class="d-block min-w-0 text-truncate flex-grow-1 flex-shrink-1">Número</span>
                                    <div class="o_list_header_label_spacer"></div><i
                                        class="o_list_sortable_caret fa fa-lg fa-angle-down opacity-0 opacity-100-hover"></i>
                                </div><span
                                    class="o_resize position-absolute top-0 end-0 bottom-0 ps-1 bg-black-25 opacity-0 opacity-50-hover z-1"></span>
                            </th>
                            <th data-tooltip-delay="1000" tabindex="-1" data-name="create_date"
                                class="align-middle o_column_sortable position-relative cursor-pointer opacity-trigger-hover w-print-auto"
                                style="width: 142px;">
                                <div class="d-flex" data-tooltip-template="web.ListHeaderTooltip"
                                    data-tooltip-info="{&quot;viewMode&quot;:&quot;list&quot;,&quot;resModel&quot;:&quot;sale.order&quot;,&quot;debug&quot;:false,&quot;field&quot;:{&quot;name&quot;:&quot;create_date&quot;,&quot;label&quot;:&quot;Fecha de creación&quot;,&quot;type&quot;:&quot;datetime&quot;,&quot;widget&quot;:null,&quot;context&quot;:&quot;{}&quot;,&quot;invisible&quot;:null,&quot;column_invisible&quot;:null,&quot;readonly&quot;:&quot;True&quot;,&quot;required&quot;:null,&quot;changeDefault&quot;:false}}">
                                    <span class="d-block min-w-0 text-truncate flex-grow-1 flex-shrink-1">Fecha de
                                        creación</span>
                                    <div class="o_list_header_label_spacer"></div><i
                                        class="o_list_sortable_caret fa fa-lg fa-angle-down opacity-0 opacity-100-hover"></i>
                                </div><span
                                    class="o_resize position-absolute top-0 end-0 bottom-0 ps-1 bg-black-25 opacity-0 opacity-50-hover z-1"></span>
                            </th>
                            <th data-tooltip-delay="1000" tabindex="-1" data-name="partner_id"
                                class="align-middle o_column_sortable position-relative cursor-pointer opacity-trigger-hover w-print-auto"
                                style="width: 372px;">
                                <div class="d-flex" data-tooltip-template="web.ListHeaderTooltip"
                                    data-tooltip-info="{&quot;viewMode&quot;:&quot;list&quot;,&quot;resModel&quot;:&quot;sale.order&quot;,&quot;debug&quot;:false,&quot;field&quot;:{&quot;name&quot;:&quot;partner_id&quot;,&quot;label&quot;:&quot;Cliente&quot;,&quot;type&quot;:&quot;many2one&quot;,&quot;widget&quot;:null,&quot;context&quot;:&quot;{}&quot;,&quot;domain&quot;:&quot;(company_id and ['|', ('company_id', '=', False), ('company_id', 'parent_of', [company_id])] or ['|', ('company_id', '=', False), ('company_id', 'parent_of', '')]) + ([])&quot;,&quot;invisible&quot;:null,&quot;column_invisible&quot;:null,&quot;readonly&quot;:&quot;1&quot;,&quot;required&quot;:&quot;True&quot;,&quot;changeDefault&quot;:true,&quot;relation&quot;:&quot;res.partner&quot;}}"
                                    title=""><span
                                        class="d-block min-w-0 text-truncate flex-grow-1 flex-shrink-1">Cliente</span>
                                    <div class="o_list_header_label_spacer"></div><i
                                        class="o_list_sortable_caret fa fa-lg fa-angle-down opacity-0 opacity-100-hover"></i>
                                </div><span
                                    class="o_resize position-absolute top-0 end-0 bottom-0 ps-1 bg-black-25 opacity-0 opacity-50-hover z-1"></span>
                            </th>
                            <th data-tooltip-delay="1000" tabindex="-1" data-name="amount_total"
                                class="align-middle o_column_sortable position-relative cursor-pointer o_list_number_th o_monetary_cell opacity-trigger-hover w-print-auto"
                                style="width: 114px;">
                                <div class="d-flex" data-tooltip-template="web.ListHeaderTooltip"
                                    data-tooltip-info="{&quot;viewMode&quot;:&quot;list&quot;,&quot;resModel&quot;:&quot;sale.order&quot;,&quot;debug&quot;:false,&quot;field&quot;:{&quot;name&quot;:&quot;amount_total&quot;,&quot;label&quot;:&quot;Total&quot;,&quot;type&quot;:&quot;monetary&quot;,&quot;widget&quot;:&quot;monetary&quot;,&quot;widgetDescription&quot;:&quot;Monetario&quot;,&quot;context&quot;:&quot;{}&quot;,&quot;invisible&quot;:null,&quot;column_invisible&quot;:null,&quot;readonly&quot;:&quot;True&quot;,&quot;required&quot;:null,&quot;changeDefault&quot;:false}}"
                                    title=""><span
                                        class="d-block min-w-0 text-truncate flex-grow-1 flex-shrink-1 o_list_number_th">Total</span>
                                    <div class="o_list_header_label_spacer"></div><i
                                        class="o_list_sortable_caret fa fa-lg fa-angle-down opacity-0 opacity-100-hover"></i>
                                </div><span
                                    class="o_resize position-absolute top-0 end-0 bottom-0 ps-1 bg-black-25 opacity-0 opacity-50-hover z-1"></span>
                            </th>
                            <th data-tooltip-delay="1000" tabindex="-1" data-name="state"
                                class="align-middle o_column_sortable position-relative cursor-pointer o_badge_cell opacity-trigger-hover w-print-auto"
                                style="width: 144px;">
                                <div class="d-flex" data-tooltip-template="web.ListHeaderTooltip"
                                    data-tooltip-info="{&quot;viewMode&quot;:&quot;list&quot;,&quot;resModel&quot;:&quot;sale.order&quot;,&quot;debug&quot;:false,&quot;field&quot;:{&quot;name&quot;:&quot;state&quot;,&quot;label&quot;:&quot;Estado&quot;,&quot;type&quot;:&quot;selection&quot;,&quot;widget&quot;:&quot;badge&quot;,&quot;widgetDescription&quot;:&quot;Insignia&quot;,&quot;context&quot;:&quot;{}&quot;,&quot;invisible&quot;:null,&quot;column_invisible&quot;:null,&quot;readonly&quot;:&quot;True&quot;,&quot;required&quot;:null,&quot;changeDefault&quot;:false,&quot;selection&quot;:[[&quot;draft&quot;,&quot;Cotización&quot;],[&quot;sent&quot;,&quot;Cotización enviada&quot;],[&quot;sale&quot;,&quot;Orden de venta&quot;],[&quot;cancel&quot;,&quot;Cancelado&quot;]]}}"
                                    title=""><span
                                        class="d-block min-w-0 text-truncate flex-grow-1 flex-shrink-1">Estado</span>
                                    <div class="o_list_header_label_spacer"></div><i
                                        class="o_list_sortable_caret fa fa-lg fa-angle-down opacity-0 opacity-100-hover"></i>
                                </div><span
                                    class="o_resize position-absolute top-0 end-0 bottom-0 ps-1 bg-black-25 opacity-0 opacity-50-hover z-1"></span>
                            </th>
                            <th data-tooltip-delay="1000" tabindex="-1" data-name="invoice_status"
                                class="align-middle o_column_sortable position-relative cursor-pointer o_badge_cell opacity-trigger-hover w-print-auto"
                                style="width: 200px;">
                                <div class="d-flex" data-tooltip-template="web.ListHeaderTooltip"
                                    data-tooltip-info="{&quot;viewMode&quot;:&quot;list&quot;,&quot;resModel&quot;:&quot;sale.order&quot;,&quot;debug&quot;:false,&quot;field&quot;:{&quot;name&quot;:&quot;invoice_status&quot;,&quot;label&quot;:&quot;Estado de la factura&quot;,&quot;type&quot;:&quot;selection&quot;,&quot;widget&quot;:&quot;badge&quot;,&quot;widgetDescription&quot;:&quot;Insignia&quot;,&quot;context&quot;:&quot;{}&quot;,&quot;invisible&quot;:null,&quot;column_invisible&quot;:null,&quot;readonly&quot;:&quot;True&quot;,&quot;required&quot;:null,&quot;changeDefault&quot;:false,&quot;selection&quot;:[[&quot;upselling&quot;,&quot;Oportunidad de venta adicional&quot;],[&quot;invoiced&quot;,&quot;Facturado por completo&quot;],[&quot;to invoice&quot;,&quot;Por facturar&quot;],[&quot;no&quot;,&quot;Nada que facturar&quot;]]}}">
                                    <span class="d-block min-w-0 text-truncate flex-grow-1 flex-shrink-1">Estado de la
                                        factura</span>
                                    <div class="o_list_header_label_spacer"></div><i
                                        class="o_list_sortable_caret fa fa-lg fa-angle-down opacity-0 opacity-100-hover"></i>
                                </div><span
                                    class="o_resize position-absolute top-0 end-0 bottom-0 ps-1 bg-black-25 opacity-0 opacity-50-hover z-1"></span>
                            </th>
                            <th class="o_list_controller o_list_actions_header w-print-0 p-print-0 position-sticky end-0"
                                style="width: 32px;">
                                <div class="o_optional_columns_dropdown d-print-none text-center border-top-0"><button
                                        class="btn p-0 o-dropdown dropdown-toggle dropdown" tabindex="-1"
                                        aria-expanded="false"><i
                                            class="o_optional_columns_dropdown_toggle oi oi-fw oi-settings-adjust"></i></button>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody class="ui-sortable">
                        <tr class="o_data_row" data-id="datapoint_526">
                            <td class="o_list_record_selector user-select-none" tabindex="-1">
                                <div class="o-checkbox form-check"><input type="checkbox" class="form-check-input"
                                        id="checkbox-comp-168"><label class="form-check-label"
                                        for="checkbox-comp-168"></label></div>
                            </td>
                            <td class="o_data_cell cursor-pointer o_field_cell o_list_char o_required_modifier o_readonly_modifier fw-bold"
                                data-tooltip-delay="1000" tabindex="-1" name="name" data-tooltip="S00142">S00142</td>
                            <td class="o_data_cell cursor-pointer o_field_cell o_readonly_modifier"
                                data-tooltip-delay="1000" tabindex="-1" name="create_date">06/05/2026 00:11:54</td>
                            <td class="o_data_cell cursor-pointer o_field_cell o_list_many2one o_required_modifier o_readonly_modifier"
                                data-tooltip-delay="1000" tabindex="-1" name="partner_id"
                                data-tooltip="OSORIO SIGUAS SILVIO VITALIANO">OSORIO SIGUAS SILVIO VITALIANO</td>
                            <td class="o_data_cell cursor-pointer o_field_cell o_list_number o_monetary_cell o_readonly_modifier"
                                data-tooltip-delay="1000" tabindex="-1" name="amount_total">
                                <div name="amount_total"
                                    class="o_field_widget o_readonly_modifier o_field_monetary fw-bold">
                                    <span>S/&nbsp;2,760.00</span>
                                </div>
                            </td>
                            <td class="o_data_cell cursor-pointer o_field_cell o_badge_cell o_readonly_modifier"
                                data-tooltip-delay="1000" tabindex="-1" name="state">
                                <div name="state" class="o_field_widget o_readonly_modifier o_field_badge text-success">
                                    <span class="badge rounded-pill text-bg-success">Orden de venta</span>
                                </div>
                            </td>
                            <td class="o_data_cell cursor-pointer o_field_cell o_badge_cell o_readonly_modifier"
                                data-tooltip-delay="1000" tabindex="-1" name="invoice_status">
                                <div name="invoice_status" class="o_field_widget o_readonly_modifier o_field_badge">
                                    <span class="badge rounded-pill text-bg-300">Nada que facturar</span>
                                </div>
                            </td>
                            <td tabindex="-1" class="w-print-0 p-print-0"></td>
                        </tr>
                        <tr class="o_data_row" data-id="datapoint_529">
                            <td class="o_list_record_selector user-select-none" tabindex="-1">
                                <div class="o-checkbox form-check"><input type="checkbox" class="form-check-input"
                                        id="checkbox-comp-169"><label class="form-check-label"
                                        for="checkbox-comp-169"></label></div>
                            </td>
                            <td class="o_data_cell cursor-pointer o_field_cell o_list_char o_required_modifier o_readonly_modifier fw-bold"
                                data-tooltip-delay="1000" tabindex="-1" name="name" data-tooltip="S00151">S00151</td>
                            <td class="o_data_cell cursor-pointer o_field_cell o_readonly_modifier"
                                data-tooltip-delay="1000" tabindex="-1" name="create_date">18/05/2026 23:35:27</td>
                            <td class="o_data_cell cursor-pointer o_field_cell o_list_many2one o_required_modifier o_readonly_modifier"
                                data-tooltip-delay="1000" tabindex="-1" name="partner_id"
                                data-tooltip="OSORIO SIGUAS SILVIO VITALIANO">OSORIO SIGUAS SILVIO VITALIANO</td>
                            <td class="o_data_cell cursor-pointer o_field_cell o_list_number o_monetary_cell o_readonly_modifier"
                                data-tooltip-delay="1000" tabindex="-1" name="amount_total">
                                <div name="amount_total"
                                    class="o_field_widget o_readonly_modifier o_field_monetary fw-bold">
                                    <span>S/&nbsp;8,280.00</span>
                                </div>
                            </td>
                            <td class="o_data_cell cursor-pointer o_field_cell o_badge_cell o_readonly_modifier"
                                data-tooltip-delay="1000" tabindex="-1" name="state">
                                <div name="state" class="o_field_widget o_readonly_modifier o_field_badge text-success">
                                    <span class="badge rounded-pill text-bg-success">Orden de venta</span>
                                </div>
                            </td>
                            <td class="o_data_cell cursor-pointer o_field_cell o_badge_cell o_readonly_modifier"
                                data-tooltip-delay="1000" tabindex="-1" name="invoice_status">
                                <div name="invoice_status" class="o_field_widget o_readonly_modifier o_field_badge">
                                    <span class="badge rounded-pill text-bg-300">Nada que facturar</span>
                                </div>
                            </td>
                            <td tabindex="-1" class="w-print-0 p-print-0"></td>
                        </tr>
                        <tr class="o_data_row" data-id="datapoint_532">
                            <td class="o_list_record_selector user-select-none" tabindex="-1">
                                <div class="o-checkbox form-check"><input type="checkbox" class="form-check-input"
                                        id="checkbox-comp-170"><label class="form-check-label"
                                        for="checkbox-comp-170"></label></div>
                            </td>
                            <td class="o_data_cell cursor-pointer o_field_cell o_list_char o_required_modifier o_readonly_modifier fw-bold"
                                data-tooltip-delay="1000" tabindex="-1" name="name" data-tooltip="S00150">S00150</td>
                            <td class="o_data_cell cursor-pointer o_field_cell o_readonly_modifier"
                                data-tooltip-delay="1000" tabindex="-1" name="create_date">18/05/2026 23:28:26</td>
                            <td class="o_data_cell cursor-pointer o_field_cell o_list_many2one o_required_modifier o_readonly_modifier"
                                data-tooltip-delay="1000" tabindex="-1" name="partner_id"
                                data-tooltip="COMPAÑIA DE EMPAQUES ARRUE S.A.C." title="">COMPAÑIA DE EMPAQUES ARRUE
                                S.A.C.</td>
                            <td class="o_data_cell cursor-pointer o_field_cell o_list_number o_monetary_cell o_readonly_modifier"
                                data-tooltip-delay="1000" tabindex="-1" name="amount_total">
                                <div name="amount_total"
                                    class="o_field_widget o_readonly_modifier o_field_monetary fw-bold text-info">
                                    <span>S/&nbsp;6,230.40</span>
                                </div>
                            </td>
                            <td class="o_data_cell cursor-pointer o_field_cell o_badge_cell o_readonly_modifier"
                                data-tooltip-delay="1000" tabindex="-1" name="state">
                                <div name="state" class="o_field_widget o_readonly_modifier o_field_badge text-success">
                                    <span class="badge rounded-pill text-bg-success">Orden de venta</span>
                                </div>
                            </td>
                            <td class="o_data_cell cursor-pointer o_field_cell o_badge_cell o_readonly_modifier"
                                data-tooltip-delay="1000" tabindex="-1" name="invoice_status">
                                <div name="invoice_status"
                                    class="o_field_widget o_readonly_modifier o_field_badge text-info"><span
                                        class="badge rounded-pill text-bg-info">Por facturar</span></div>
                            </td>
                            <td tabindex="-1" class="w-print-0 p-print-0"></td>
                        </tr>
                    </tbody>

                    <tfoot class="o_list_footer cursor-default">
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="o_list_number"><span
                                    data-tooltip="Total con impuestos incluidos">S/&nbsp;202,626.84</span></td>
                            <td></td>
                            <td></td>
                            <td class="w-print-0 p-print-0"></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>